.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.activate-message, .activate-error {
    text-align: center;
}

.activate-error {
    color: red;
}

.redirect-login {
    margin-top: 10px;
}